# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.rtexe
*rtexe
**.rtexe
RobotCode4150\Builds\**
**\Builds\**
**/Builds/**

# Metadata
*.aliases
*.lvlps
.cache/
